PORT=4000
MONGODB_URI=mongodb+srv://testdevelopment9999_db_user:s4vBdQ0rcmeJPlsq@mujeresalvolante.rd4sofa.mongodb.net/?appName=mujeresalvolante
JWT_SECRET=cambiar_por_un_secreto_largo_y_random_si_nos_jaquean_jajajajaj
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=djhieajef
CLOUDINARY_API_KEY=397676897118112
CLOUDINARY_API_SECRET=b8g3Vlxb0KbACnia-4vlvL6r7iM
FRONTEND_URL=http://localhost:3000